service firebase.storage {
  match /b/academic-vdata-2016.appspot.com/o {
    match /{allPaths=**} {
      allow read: if request.auth != null;
    }
  }
}
